<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiREV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MiREV.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <MiREV.Properties.Settings>
            <setting name="MainLocation" serializeAs="String">
                <value>1280, 800</value>
            </setting>
            <setting name="ImgCentLocation" serializeAs="String">
                <value>1280, 1</value>
            </setting>
            <setting name="ImgCentSize" serializeAs="String">
                <value>1302, 776</value>
            </setting>
            <setting name="ImgLeftLocation" serializeAs="String">
                <value>0, 1</value>
            </setting>
            <setting name="ImgLeftSize" serializeAs="String">
                <value>1302, 776</value>
            </setting>
            <setting name="ImgRghtLocation" serializeAs="String">
                <value>2560, 1</value>
            </setting>
            <setting name="ImgRghtSize" serializeAs="String">
                <value>1302, 776</value>
            </setting>
            <setting name="MapLocation" serializeAs="String">
                <value>0, 760</value>
            </setting>
            <setting name="MapSize" serializeAs="String">
                <value>1280, 1280</value>
            </setting>
            <setting name="CodeLocation" serializeAs="String">
                <value>2840, 320</value>
            </setting>
            <setting name="CodeSize" serializeAs="String">
                <value>596, 1560</value>
            </setting>
            <setting name="ScreenRatio" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IncGaugSize" serializeAs="String">
                <value>398, 918</value>
            </setting>
            <setting name="IncGaugLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RadiusSize" serializeAs="String">
                <value>2392, 21</value>
            </setting>
            <setting name="RadiusLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </MiREV.Properties.Settings>
    </userSettings>
</configuration>
